*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body{
  width: 100%;
  height: 90vh;
  background-color: aquamarine;
  display: flex;justify-content: center;align-items: flex-end;
}
span{
  color: #772efd;
  font-size: 19px;
}
li{
  margin: 10px 0;
}
.box{
  min-width: 305px;
  height: 80vh;
  background-color: aliceblue;
  padding: 40px 20px 10px;
  border-radius: 15px;
  display: flex;flex-direction: column;justify-content: flex-start;align-items: center;
}
.box h1{
  font-size: 29px;
  margin: 0 0 24px;
  color: #772efd;
}
.box > h2{
  font-size: 19px;
  margin: 0 0 19px;
  color: #772efd;
}
.box button{
  padding: 10px 15px;
  background-color: #772efd;
  border-radius: 5px;
  border: none;
  font-size: 19px;
  color: white;
  margin-top: 20px;
}
.box-content{
  width: 100%;
  height: 50vh;
  display: flex;flex-direction: column;justify-content: space-around;align-items: center;
  padding: 10px;
}




/*Loader*/

.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #000;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.loader{
  width: 100%;
  height: 100vh;
  background-image: radial-gradient(circle at 28.84% 75.22%, #fbffff 0, #ecfffd 7.14%, #dafffa 14.29%, #c6fff7 21.43%, #aefff5 28.57%, #92fff3 35.71%, #70fcf2 42.86%, #3cf2f2 50%, #00e7f3 57.14%, #00ddf6 64.29%, #00d4fa 71.43%, #00cbff 78.57%, #00c2ff 85.71%, #00baff 92.86%, #00b3ff 100%);
  position: fixed;top: 0;left: 0;
  padding: 40vh 45%;
  clip-path: circle(141.2% at 100% 0);
  transition: all .5s ease-in;
}
.loader2{
  clip-path: circle(0.0% at 100% 0);
}