*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body{
  width: 100%;
  height: 90vh;
  background-color: aquamarine;
  display: flex;justify-content: center;align-items: flex-end;
}
span{
  color: #772efd;
  font-size: 19px;
}
li{
  margin: 10px 0;
}
.box{
  min-width: 305px;
  height: 80vh;
  background-color: aliceblue;
  padding: 40px 20px 10px;
  border-radius: 15px;
  display: flex;flex-direction: column;justify-content: flex-start;align-items: center;
}
.box h1{
  font-size: 29px;
  margin: 0 0 24px;
  color: #772efd;
}
.box > h2{
  font-size: 19px;
  margin: 0 0 19px;
  color: #772efd;
}
.box button{
  padding: 10px 15px;
  background-color: #772efd;
  border-radius: 5px;
  border: none;
  font-size: 19px;
  color: white;
  margin-top: 20px;
}
.box-content{
  width: 100%;
  height: 50vh;
  display: flex;flex-direction: column;justify-content: space-around;align-items: center;
  padding: 10px;
}